[org.mate.background]
picture-filename='/usr/share/backgrounds/light1.png'

[org.mate.panel]
default-layout='rhel'

[org.mate.font-rendering]
antialiasing='rgba'
hinting='slight'

[org.mate.interface]
gtk-theme='TraditionalOk'
icon-theme='mate'

[org.mate.Marco.general]
theme='TraditionalOk'

[org.mate.peripherals-mouse]
cursor-theme='mate'

[org.mate.Marco.general]
side-by-side-tiling=false
center-new-windows=false
compositing-manager=true

[org.mate.caja.preferences]
enable-delete=true

[org.mate.terminal.profile]
title-mode='ignore'
title='Mate Terminal'

[org.mate.session]
required-components-list=['windowmanager', 'panel', 'filemanager']
